{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    
    <title>Virsa Core</title>
  </head>
  <body>
    <div class="container main">
      <img src="https://i.imgur.com/Kna9Nb2.png">
      <h1>Batch'26 Recruitments</h1> 
        <form method="post">
            {% csrf_token %}
          <div  id="page1">
             <div class="form-floating mb-3">
                <input type="text" class="form-control" id="1" placeholder="Name" name="name" required>
                <label for="1">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="2" placeholder="Branch" name="q1"  required> 
                <label for="2">Branch</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="3" placeholder="Roll no." name="q2"  required>
                <label for="3">Roll no.</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="4" placeholder="Day Scholar or Not?" name="q3"  required>
                <label for="4">Day Scholar or Hosteler?</label>
            </div>
            <button class="btn btn-primary r" type="button" id="nextBtn" onclick="next()">Next</button>
          </div>
          {% comment %} ------------------------------------------- {% endcomment %}
          <div id="page2">
            
            
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="7" placeholder="" name="q6"  required>
              <label for="7">How does your aim align with the mission and values of VIRSA ?</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="8" placeholder="" name="q7"  required>
              <label for="8">Share an idea you have that could potentially be implemented by VIRSA?</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="10" placeholder="" name="q8"  required>
              <label for="1-">Describe your previous experiences in other societies?</label>
            </div>
            <div class="form-floating mb-3">
              
              <input type="text" class="form-control" id="5" placeholder="" name="q4"  required>
              <label for="5">Why do you think you deserve to be a part of Virsa?</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="9" placeholder="" name="q9" required>
              <label for="9">If you have skill in tech/design/video editing then provide the drive link (or NA)</label>
           </div>
            
           <button class="btn btn-primary l" type="button" id="nextBtn" onclick="prev1()">Previous</button>
           <button class="btn btn-primary  r" type="button" id="nextBtn" onclick="next1()">Next</button>
          </div>
          {% comment %} -------------------------------------------------------- {% endcomment %}
          <div id="page3">
            
            <div class="form-floating mb-3">
              <p>On a scale of 5 , rate your skills in the following Departments:</p>
              <table class="mt-3">
                <tr>
                  <th>Department</th>
                  <th>Rating</th>
                </tr>
                <tr>
                  <td>Content Writing</td>
                  <td><input type="radio" id="html" name="content" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="content" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="content" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="content" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="content" value="5">
                <label for="javascript">5</label></td>
                
                </tr>
                <tr>
                  <td>Technical</td>
                  <td><input type="radio" id="html" name="tech" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="tech" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="tech" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="tech" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="tech" value="5">
                <label for="javascript">5</label></td>
                </tr>
                <tr>
                  <td>Design and Media</td>
                   <td><input type="radio" id="html" name="design" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="design" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="design" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="design" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="design" value="5">
                <label for="javascript">5</label></td>
                </tr>
                <tr>
                  <td>Cultural</td>
                  <td><input type="radio" id="html" name="cultural" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="cultural" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="cultural" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="cultural" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="cultural" value="5">
                <label for="javascript">5</label></td>
                </tr>
                <tr>
                  <td>Creativity</td>
                  <td><input type="radio" id="html" name="creativity" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="creativity" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="creativity" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="creativity" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="creativity" value="5">
                <label for="javascript">5</label></td>
                </tr>
                <tr>
                  <td>Hospitality</td>
                  <td><input type="radio" id="html" name="hospitality" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="hospitality" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="hospitality" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="hospitality" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="hospitality" value="5">
                <label for="javascript">5</label></td>
                </tr>
                <tr>
                  <td>Logistics</td>
                  <td><input type="radio" id="html" name="logistics" value="1"  required>
                <label for="html">1</label>
                <input type="radio" id="css" name="logistics" value="2">
                <label for="css">2</label>
                <input type="radio" id="javascript" name="logistics" value="3">
                <label for="javascript">3</label>
                <input type="radio" id="javascript" name="logistics" value="4">
                <label for="javascript">4</label>
                <input type="radio" id="javascript" name="logistics" value="5">
                <label for="javascript">5</label></td>
                </tr>
                
              </table>
            </div>
            <div class="eme"><em >*make sure you have answered all the questions on all pages</em></div>
            <button class="btn btn-primary l" type="button" id="nextBtn" onclick="prevf()">Previous</button>
            <button type="submit" class="btn btn-primary r">Submit</button>
          </div>
          </form>

    </div>
    <script>
      function next() {
         document.getElementById("page1").style.setProperty('display', 'none');
         document.getElementById("page2").style.setProperty('display', 'block');
         document.getElementById("page3").style.setProperty('display', 'none');
        }
        function prevf() {
          document.getElementById("page1").style.setProperty('display', 'none');
          document.getElementById("page2").style.setProperty('display', 'block');
          document.getElementById("page3").style.setProperty('display', 'none');
         }
        function next1() {
          console.log("hi")
           document.getElementById("page1").style.setProperty('display', 'none');
           document.getElementById("page2").style.setProperty('display', 'none');
           document.getElementById("page3").style.setProperty('display', 'block');
          }
          function prev1() {
            console.log("hi")
             document.getElementById("page1").style.setProperty('display', 'block');
             document.getElementById("page2").style.setProperty('display', 'none');
             document.getElementById("page3").style.setProperty('display', 'none');
            }
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>